//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 06 22 22:46:30 2024



IO_LOC "clk_in" H11;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "erstn" C7;
IO_PORT "erstn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;



IO_LOC "gpio_out[26]" J14;
IO_LOC "gpio_out[27]" M15;
IO_LOC "gpio_out[28]" J16;
IO_LOC "gpio_out[29]" T12;
IO_LOC "gpio_out[30]" M14;
IO_LOC "gpio_out[31]" R11;

IO_PORT "gpio_out[26]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "gpio_out[27]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "gpio_out[28]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "gpio_out[29]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "gpio_out[30]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "gpio_out[31]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;



IO_LOC "gpio_in[16]" T13;
IO_LOC "gpio_out[17]" M11;

IO_PORT "gpio_in[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_out[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;



IO_LOC "gpio_in[20]" T3;
IO_LOC "gpio_in[21]" T2;
IO_LOC "gpio_in[22]" D7;
IO_LOC "gpio_in[23]" T10;

IO_PORT "gpio_in[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_in[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_in[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "gpio_in[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;



IO_LOC "tdi" A7;
IO_LOC "tdo" C6;
IO_LOC "tck" A6;
IO_LOC "tms" B8;

IO_PORT "tdi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "tdo" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "tck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "tms" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;